{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <body>
        <div class="container bg-light shadow-md p-5 form-layout">
            <h3>Create A Record</h3>
            <h6>Add all of the detailed information to create an account.</h6>
            <hr>
            <br>

            <form method="POST" autocomplete="off">
                {% csrf_token %}

                {{form.first_name|as_crispy_field}}
                <br>
                {{form.last_name|as_crispy_field}}
                <br>
                {{form.email|as_crispy_field}}
                <br>
                {{form.phone|as_crispy_field}}
                <br>
                {{form.address|as_crispy_field}}
                <br>
                {{form.city|as_crispy_field}}
                <br>
                {{form.state|as_crispy_field}}
                <br>
                {{form.country|as_crispy_field}}
                <br>

                <button type="submit" class="btn btn-primary"> Create Record &nbsp; <i class="fa fa-check" aria-hidden="true"></i> </button>
                &nbsp;
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">
                    Return To Dashboard &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
                
            </form>
            
        </div>
        
        <br>
        
    </body>


{% endblock %}